<%layout('layouts/boilerplate') %> 
<%-include('../partials/flash') %> 
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">ITEM:<%=item.name.toUpperCase()%> </h5>
                </div>
                <ul class="list-group list-group-flush">
                     
                  <li class="list-group-item">MODEL:<%=item.model.toUpperCase() %> </li>
                  <li class="list-group-item">SERIAL NUMBER :<%=item.serialNo %> </li>
                  <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <div class="card-body">
                    <h3>owner:<a class="btn btn-primary"href="/employees/<%=item.owner._id %> "><%=item.owner.firstname %></a> </h3>
                  
                </div>
              </div>
              <div class="card-footer text-muted">
                <form class="d-inline" action="/items/<%=item._id%>?_method=DELETE"method="POST">
                  <button class="btn btn-danger">remove item</button>
                </form>
                <a class="btn btn-info"href="/employees/qr">view the QRCode</a>
              </div>
        </div>
       </div>
    
